a {
  color: #ffa751; }
  a:hover {
    color: #ff8814; }

hr {
  margin: 0px; }

h4 {
  color: #665d57; }

textarea {
  width: 100%;
  height: 120px; }
  textarea:focus {
    border: 1px solid #ffc993; }

.hash-word {
  color: #ffa751;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: .9em;
  display: inline-block; }
